*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: grid;
  grid-template-areas: "cabecera cabecera"
                          "contenido contenido"
                          "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.item{
  border: 1px none;
  font-size: 30px;
}


.c1{
  grid-area: cabecera;
  max-width: 100%;
}

.c3{
  grid-area: contenido;
  
}

.c4{
  grid-area: footer;
  max-width: 100%;
}


body{
  background-color: #0D2235;
}

.footer{
  background-color: #225380;
  
}

.nav-bar__elements{
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  margin: 0px 3em;
  color: #9497FF;    
}
.nav-bar__elements ul li{
  text-decoration: none;
  color: #56baed;
  padding: 10px;
  border: white 3px solid;
  border-radius: 20px;    
  display: inline-block;      
  transition: all 300ms ease;
}

.nav-bar__elements ul li:hover{ 
  color: black;
  background-color: white;
}
.nav-bar__elements ul li {
  list-style: none;
  float: left; 
  padding: 10px;
  margin: 10px;
}

.text-footer{
  text-align: center;
  color: #fff;
  margin-left: 300px;
}
.logogh{
  margin-left: 10px;
  margin-bottom: 5px;
}